__pycache__/
.pytest_cache/
.DS_Store
.idea
data/
build/
dist/
alpha/
runs/
wandb/
.cache/
.eggs/
lightning_logs/
outputs/
graphgym/datasets/
graphgym/results/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.venv
*.out
*.pt
*.onnx
examples/**/*.png
examples/**/*.pdf
benchmark/results/
*.torch
*.edgelist
*.html
*.npy
*.png
*.txt

models
config
notebooks
logs
!torch_geometric/data/
!test/data/